extends layout 

block content 
    div(class='jumbotron')
        h1(class='display-4') Travel Experts 
        p(class='lead') We are dedicated to providing travelers with the best deals and customer service in the industy 
        hr(class='my-4')
        p We were founded in Calgary, Alberta in 1989 we like to travel for cheap and know that it is important to have reliable resources to make informed decisions when planning your next adventure!