
extends layout

block othlink
    link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')

    // Bootstrap link
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
     integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')

    // CSS file for index.html
    link(rel='stylesheet' href='/css/mystyler.css')

    // JavaScript link
    script(src='/js/myjsscript.js')

block content  
    //header(style='width:50%;')
    //  h5.logo-text= hdlogo
    //  #{hdimg}      
  
    form#regform(method='POST' action='/users/book')   
      
      h1(style='text-align:center;')            
          strong Book a package
    
      .form-row
        .form-group.col-md-4
          label(for='currdate') Date:
          input#currdate.form-control(type='date' name='BookingDate' placeholder='yyyy-mm-dd' required='')
          small#msg(style='display:none;') Enter Current Date.

        .form-group.col-md-3
          label(for='travelcnt') No. of Traveller:
          input#travelcnt.form-control(type='text' name='TravelerCount' required='')
          small#msg(style='display:none;') Enter No. of Traveller here.

      .form-row
        .form-group.col-md-4
        .form-group.col-md-4
            button#res.btn.btn-primary(style='margin-bottom: 20px;' type='reset' onclick='Confirm_Buttons()') Cancel            
            button#sub.btn.btn-primary(style='margin-left: 4px; margin-bottom: 20px;' type='submit' onclick='Confirm_Buttons()') Book            

    script.
      LoadthePage();
