
extends layout

block othlink
    // link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css') -- Removed to fix footer alignment.

    // Bootstrap link
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'
     integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')

    // CSS file for index.html
    link(rel='stylesheet' href='/css/mystyler.css')

    // JavaScript link
    script(src='/js/myjsscript.js')

block content      

    h3#accntmsg.alert.alert-success= accntmsg

    form.back-image#regform(method='POST' action='/users/register')   
      
      h1(style='text-align:center;')
        strong Create an account 
        
      .form-row      
        .form-group.col-md-6
          label(for='fname') First Name
          input#fname.form-control(type='text' name='CustFirstName' placeholder='First Name' required='')
          small#msg(style='display:none;') Enter First Name here.

        .form-group.col-md-6
          label(for='lname') Last Name
          input#lname.form-control(type='text' name='CustLastName' placeholder='Last Name' required='')
          small#msg(style='display:none;') Enter Last Name here.

      .form-group
        label(for='addr1') Address
        input#addr1.form-control(type='text' name='CustAddress' placeholder='1234 Main St' required='')
        small#msg(style='display:none;') Enter Main address here.

      .form-row
        .form-group.col-md-4
          label(for='city') City
          input#city.form-control(type='text' name='CustCity' placeholder='City' required='')
          small#msg(style='display:none;') Enter City here.

        .form-group.col-md-2
          label(for='prov') Prov/State
          input#prov.form-control(list='options' name='CustProv' placeholder='' required='')
          small#msg(style='display:none;') Enter Province here.
         
        .form-group.col-md-2
          label(for='post') Postal
          input#post.form-control(type='text' name='CustPostal' placeholder='H1H 0H0' pattern='^[A-Z]\\d[A-Z] ?\\d[A-Z]\\d$' required='')
          small#msg(style='display:none;') Enter Postal here.

      
        .form-group.col-md-4
          label(for='cntry') Country
          input#cntry.form-control(type='text' name='CustCountry' placeholder='Country' required='')
          small#msg(style='display:none;') Enter Country here.

      .form-row
        .form-group.col-md-3
          label(for='hphone') Home/Cell Phone:
          input#hphone.form-control(type='tel' name='CustHomePhone' placeholder='123-456-7890' pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}' required='')
          small#msg(style='display:none;') Enter Home/Cell Phone here.

        .form-group.col-md-3
          label(for='bphone') Bus/Cell Phone:
          input#bphone.form-control(type='tel' name='CustBusPhone' placeholder='123-456-7890' pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}')
          small#msg(style='display:none;') Enter Business/Cell Phone here.

        .form-group.col-md-6
          label(for='email') Email
          input#email.form-control(type='email' name='CustEmail' placeholder='Email' required='')
          small#msg(style='display:none;') Enter Email here.

      .form-row
        .form-group.col-md-4
          label(for='usrname') UserName
          input#usrname.form-control(type='text' name='userid' placeholder='UserName' required='')
          small#msg(style='display:none;') Enter UserName here.

        .form-group.col-md-4
          label(for='passwd') Password
          input#passwd.form-control(type='password' name='passwd' placeholder='Password' required='')
          small#msg(style='display:none;') Enter Password here

      .form-row
        .form-group.col-md-4
        .form-group.col-md-4
            button#res.btn.btn-primary(style='margin-bottom: 20px;' type='reset' onclick='Confirm_Buttons()') Reset            
            button#sub.btn.btn-primary(style='margin-left: 4px; margin-bottom: 20px;' type='submit' onclick='Confirm_Buttons()') Submit

     
    script.
      var urlParams = new URLSearchParams(window.location.search);
      if (urlParams.has('accntmsg'))
      document.getElementById('accntmsg').innerText = document.getElementById('accntmsg').innerText= urlParams.get('accntmsg');

      LoadthePage();
