extends layout

block othlink
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
  title Travel Packages
  link(rel='stylesheet' href='../css/packages.css')
  script(src='../js/buttons.js')

block content
    .container-md
        .row.align-items-center
            .col
            img.pkgimglg(src='../images/pkgs/australia-lg.png')
            .col-sm
            p.fs-1.text-wrap.fw-bold $6000
            p Plus applicable fees and taxes
            .col-sm
            button.btn.btn-primary.btn-lg(type='submit') Order
        .row.fs-1.py-3.fw-bold Australian Adventure
        .row.text-wrap.py-3.fs-3
            | Detailed description goes here. Detailed description goes here. Detailed
            | description goes here. Detailed description goes here. Detailed
            | description goes here. Detailed description goes here. Detailed
            | description goes here. Detailed description goes here. Detailed
            | description goes here. Detailed description goes here. Detailed
            | description goes here. Detailed description goes here. Detailed
            | description goes here. Detailed description goes here.
        .row.text-wrap.py-5.fs-4.fw-bold
            | Packages Offered From 01-01-2021 to 01-14-2021