
extends layout

block othlink
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
  title Travel Packages
  link(rel='stylesheet' href='../css/packages.css')
  script(src='js/buttons.js')


block content
  .container-md.container-fluid
    p.pkgfont Select From One of Our Exciting Travel Packages!
    #package1.row.button(onclick='package1();')
      // Image Column
      .col-lg-4.col-md-6.col-sm-12.p-2
        img.pkgimg(src='../images/pkgs/australia.png')
      // Info
      .col-8.coldesc
        .row
          .title.fw-bold Australian Adventure
          .row
            .desc
              p 14 Sun-Filled Days on an Australian Outback Adventure!
          .row
            .price $6000
    #package2.row.button(onclick='package2();')
      // Image Column
      .col-lg-4.col-md-6.col-sm-12.p-2
        img.pkgimg(src='../images/pkgs/brazil.png')
      // Info
      .col-8.coldesc
        .row
          .title.fw-bold Brazilian Getaway
          .row
            .desc
              p 14 Days of Exploring the Beauty That Is Rio de Janeiro!
          .row
            .price $4000
    #package3.row.button(onclick='package3();')
      // Image Column
      .col-lg-4.col-md-6.col-sm-12.p-2
        img.pkgimg(src='../images/pkgs/cuba.png')
      // Info
      .col-8.coldesc
        .row
          .title.fw-bold Cuban Excursion
          .row
            .desc
              p A 7 Day Cuban Island Excursion!
          .row
            .price $2500
    #package4.row.button(onclick='package4();')
      // Image Column
      .col-lg-4.col-md-6.col-sm-12.p-2
        img.pkgimg(src='../images/pkgs/italy.png')
      // Info
      .col-8.coldesc
        .row
          .title.fw-bold Italian Exploration
          .row
            .desc
              p 14 Days Taking in Italy&apos;s Culture and Countryside!
          .row
            .price $7500
    #package5.row.button(onclick='package5();')
      // Image Column
      .col-lg-4.col-md-6.col-sm-12.p-2
        img.pkgimg(src='../images/pkgs/japan.png')
      // Info
      .col-8.coldesc
        .row
          .title.fw-bold Japanese Getaway
          .row
            .desc
              p 14 Days to Take in The Culture and History of Japan!
          .row
            .price $6500
    #package6.row.button(onclick='package6();')
      // Image Column
      .col-lg-4.col-md-6.col-sm-12.p-2
        img.pkgimg(src='../images/pkgs/mexico.png')
      // Info
      .col-8.coldesc
        .row
          .title.fw-bold Mexican Paradise
          .row
            .desc
              p 7 Days of Beaches, Rest and Relaxation!
          .row
            .price $2500
    #package7.row.button(onclick='package7();')
      // Image Column
      .col-lg-4.col-md-6.col-sm-12.p-2
        img.pkgimg(src='../images/pkgs/paris.png')
      // Info
      .col-8.coldesc
        .row
          .title.fw-bold A Holiday in Paris
          .row
            .desc
              p 14 Days of Experiencing the Food and Culture of France!
          .row
            .price $7000
    #package8.row.button(onclick='package8();')
      // Image Column
      .col-lg-4.col-md-6.col-sm-12.p-2
        img.pkgimg(src='../images/pkgs/switzerland.png')
      // Info
      .col-8.coldesc
        .row
          .title.fw-bold Swiss Getaway
          .row
            .desc
              p
                | 14 Days of Hitting the Slopes on the Powdery Swiss Mountains!
          .row
            .price $8000
    #package9.row.button(onclick='package9();')
      // Image Column
      .col-lg-4.col-md-6.col-sm-12.p-2
        img.pkgimg(src='../images/pkgs/thailand.png')
      // Info
      .col-8.coldesc
        .row
          .title.fw-bold Thailand Holiday
          .row
            .desc
              p 7 Days in a Tropical Paradise!
          .row
            .price $3000
    #package10.row.button(onclick='package10();')
      // Image Column
      .col-lg-4.col-md-6.col-sm-12.p-2
        img.pkgimg(src='../images/pkgs/vegas.png')
      // Info
      .col-8.coldesc
        .row
          .title.fw-bold Vegas Vacation
          .row
            .desc
              p 7 Days of Taking In the Vegas Nightlife!
          .row
            .price $1500
