head
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
  title Travel Packages
  link(rel='stylesheet' href='css/packages.css')
  script(src='js/buttons.js')
.container-md
  #package1.row.button(onclick='package1();')
    // Image Column
    .col-4.imgcol
      img.pkgimg(src='images/pkgs/australia.png')
    // Info
    .col.pgkcol
      .row
        .col-9.title Australian Adventure
        .col.price $6000
      .row
        .col.desc
          | 14 Sun-Filled Days on an Australian Outback Adventure!
  .row.button
    .col-4.imgcol
      img.pkgimg(src='images/pkgs/brazil.png')
    .col.pgkcol
      .row
        .col-9.title Brazilian Getaway
        .col.price $4000
      .row
        .col.desc
          | 14 Days of Exploring the Beauty That Is Rio de Janeiro!
  .row.button
    .col-4.imgcol
      img.pkgimg(src='images/pkgs/cuba.png')
    .col.pgkcol
      .row
        .col-9.title Cuban Excursion
        .col.price $2500
      .row
        .col.desc A 7 Day Cuban Island Excursion!
  .row.button
    .col-4.imgcol
      img.pkgimg(src='images/pkgs/italy.png')
    .col.pgkcol
      .row
        .col-9.title Italian Exploration
        .col.price $7500
      .row
        .col.desc
          | 14 Days Taking in Italy&apos;s Culture and Countryside!
  .row.button
    .col-4.imgcol
      img.pkgimg(src='images/pkgs/japan.png')
    .col.pgkcol
      .row
        .col-9.title Japanese Getaway
        .col.price $6500
      .row
        .col.desc
          | 14 Days to Take in The Culture and History of Japan!
  .row.button
    .col-4.imgcol
      img.pkgimg(src='images/pkgs/mexico.png')
    .col.pgkcol
      .row
        .col-9.title Mexican Paradise
        .col.price $2500
      .row
        .col.desc 7 Days of Beaches, Rest and Relaxation!
  .row.button
    .col-4.imgcol
      img.pkgimg(src='images/pkgs/paris.png')
    .col.pgkcol
      .row
        .col-9.title A Holiday in Paris
        .col.price $7000
      .row
        .col.desc
          | 14 Days of Experiencing the Food and Culture of France!
  .row.button
    .col-4.imgcol
      img.pkgimg(src='images/pkgs/switzerland.png')
    .col.pgkcol
      .row
        .col-9.title Swiss Mountain Getaway
        .col.price $8000
      .row
        .col.desc
          | 14 Days of Hitting the Slopes on the Powdery Swiss Mountains!
  .row.button
    .col-4.imgcol
      img.pkgimg(src='images/pkgs/thailand.png')
    .col.pgkcol
      .row
        .col-9.title Thailand Holiday
        .col.price $3000
      .row
        .col.desc 7 Days in a Tropical Paradise!
  .row.button
    .col-4.imgcol
      img.pkgimg(src='images/pkgs/vegas.png')
    .col.pgkcol
      .row
        .col-9.title Vegas Vacation
        .col.price $1500
      .row
        .col.desc 7 Days of Taking In the Vegas Nightlife!
