extends layout

block othlink
    // JavaScript link
    script(src='/js/myjsscript.js')

block content
    h1 This is a package
    each pack in packge
        button#subp(type='submit')
            a(href='/users/book/' + pack.PackageId) Submit

    //script.
        LoadthePage();