extends layout

block othlink
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
  title Travel Packages
  link(rel='stylesheet' href='../css/packages.css')
  script(src='../js/buttons.js')


block content
  .container-md.container-fluid
    p.pkgfont Select From One of Our Exciting Travel Packages!
    each package in packages
      #package1.row.button(onclick='package();')
        // Image Column
        .col-lg-4.col-md-6.col-sm-12.p-2
          img.pkgimg(src=package.Img)
        // Info
        .col-8.coldesc
          .row
            p.title.fw-bold #{package.PkgName}
            .row
              .desc
                p #{package.PkgDesc}
            .row
              .price $#{package.PkgBasePrice}