@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../images/plane.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.pkgimg {
  width: 100%;
  border-radius: 10px;
  margin-top: 3px;
  margin-left: 3px;
  margin-bottom: 3px;
  margin-right: 10px;
  box-shadow: 2px 2px 3px #000000bd;
}
.button {
  border-radius: 10px;
  background-color: rgb(38, 70, 83);
  margin: 15px;
  border: 2px solid rgb(103, 127, 136);
}
.button:hover {
  -webkit-box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}
.price {
  background-color: rgb(42, 157, 143);
  color: white;
  border-radius: 10px;
  text-align: center;
  font-size: 25px;
  width: 8rem;
  height: 3.7rem;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: 70px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.title {
  text-align: left;
  padding: 20px;
  font-size: 40px;
  margin-top: 20px;
  color: white;
}

.desc {
  text-align: left;
  padding-top: 25px;
  font-size: 25px;
  color: white;
}

.coldesc {
  text-align: center;
}

.pkgfont {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 30px;
}

/*Package Description Page*/

.Price {
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .title {
    font-size: 22px;
    padding-left: 50px;
  }
  .desc {
    font-size: 15px;
    padding-top: 0px;
    padding-left: 50px;
  }
  .price {
    font-size: 20px;
  }
}
