.button {
  background-color: rgb(228, 228, 228);
  margin: 15px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  max-height: 100%;
  max-width: 100%;
}
.button:hover {
  -webkit-box-shadow: 5px 5px 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.clearfix {
  overflow: auto;
}
.pkgimg {
  border-radius: 5px;
  box-shadow: 3px 3px 4px #000000bd;
}
.imgcol {
  margin: auto;
  padding: 5px;
  display: flex;
  float: left;
}
.pgkcol {
  margin: auto;
  border-radius: 5px;
  float: right;
}
.title {
  font-size: 40px;
  margin: 25px;
  color: black;
  font-weight: bold;
}
.desc {
  font-size: 28px;
  color: black;
  margin-top: 30px;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 30px;
}
.price {
  background-color: rgb(38, 70, 83);
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-right: 12px;
  text-align: center;
  font-size: 30px;
  max-height: 70px;
  max-width: 116px;
}

@media only screen and (max-width: 1000px) {
  .title {
    font-size: 22px;
  }
  .desc {
    font-size: 15px;
  }
  .price {
    font-size: 20px;
  }
}
